#helper-root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.keeper-logo:hover {
  filter: drop-shadow(0 0 2em #dcdcdc);
}

#bee-keeper-table tr:nth-child(even) {
  background-color: #dcdcdc;
}

#keeper-headline {
  font-family: nyt-karnakcondensed !important;
  font-size: 1.5em;
  margin: 0.2em;
}

#bee-keeper-table {
  table-layout: separate;
  border-spacing: 0;
  border-radius: 0.25rem;
  border: 1px solid #dcdcdc;
  border-collapse: separate;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  padding: 0.2em;
}
